<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Datapools</title>

    <link rel="stylesheet" href="./static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2 th:text="${datapoolName}"></h2>

    <h4 class="mt-5">Endpoint</h4>
    <strong class="mt-2" th:text="${serviceEndpoint}"></strong>

    <h4 class="mt-5">Request</h4>
    <textarea th:text="${request}" class="form-control mt-2" type="text" rows="8" readonly></textarea>

    <h4 class="mt-5">Response</h4>
    <textarea th:text="${response}" class="form-control mt-2" type="text" rows="12" readonly></textarea>

    <a href="/client" class="btn btn-primary mt-2">Back</a>
    <button class="btn btn-primary mt-2" onclick="reload()">Reload</button>

    <script>
        function reload() {
            location.reload(true);
        }
    </script>
</div>
</body>
</html>